@use '../../../../shared/global' as *;

#userinfo-box {
  height: var(--size-6);
  border-top: var(--color-base-2) 1px solid;
  padding: var(--size-1);
  margin: var(--size-1);
  margin-top: auto;

  button {
    border: none;
    background: none;
  }

  display: inline-flex;

  &>*{
    margin: auto 0;

    &:last-child {
      margin-left: auto;
    }
  }
}