@use '../../../../shared/global' as *;

#notifications-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 0;
  //height: 400px;
  height: 600px;
  //max-height: 600px;
  top: 48px;
  right: var(--size-3);
  background-color: var(--color-base-0);
  border: 1px solid var(--color-base-3);
  border-radius: var(--size-2);
  border-top-right-radius: 0;

  overflow: hidden;
  z-index: 2000;

  #nb-list-container {
    flex: 1;
    height: 100%;
    min-height: 0;
    padding-bottom: var(--size-2);
    overflow-y: auto;
    text-align: center;
  }

  @include media(xs) {
    width: 90%;
    top: var(--size-6);
    right: var(--size-1);
  }

  h3 {
    margin: auto;
    padding: var(--size-3) var(--size-2);
    border-bottom: var(--color-base-2) 1px solid;
    flex-shrink: 0;
  }

  p {
    margin-left: var(--size-2);
    color: var(--color-base-3);

    span {
      color: var(--color-main-1);
    }
  }

  &.visible {
    display: block;
  }

  &.invisible {
    display: none;
  }
}

.notification-group {
  display: flex;
  flex-direction: column;
  width: 100%;

  &-header {
    display: inline-flex;
    flex-grow: 1;

    &:hover {
      i {
        color: var(--color-main-1);
      }
    }

    .ngh-box {
      display: flex;
      align-items: center;
      height: var(--size-6);
      flex-grow: 1;

      .ngh-title {
        display: inline-flex;
        flex-grow: 1;
        margin: 0;
      }

      .ngh-message {
        margin: 0;
        padding: var(--size-2);
        font-size: 12px;
        font-weight: bold;
        color: var(--color-main-1) !important;
      }
    }

    i {
      padding: 0 var(--size-2);
      margin: auto;
      position: relative;
      color: var(--color-base-3);

      &.notification-identifier::after {
        content: "●";
        position: absolute;
        top: -8px;
        right: 4px;
        color: var(--color-main-1);
      }
    }
  }

  &-events {
      border-top: var(--color-base-1) 1px solid;
      border-bottom: var(--color-base-2) 1px solid;
  }
}

#notifications-box-compact {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 0;
  height: auto;
  top: 48px;
  right: var(--size-3);
  background-color: var(--color-base-0);
  border: 1px solid var(--color-base-3);
  border-radius: var(--size-2);
  border-top-right-radius: 0;

  overflow: hidden;
  z-index: 2000;

  @include media(xs) {
    width: 90%;
    top: var(--size-6);
    right: var(--size-1);
  }

  h3 {
    margin: var(--size-2);
    margin-bottom: 0;
    padding-bottom: var(--size-2);
    border-bottom: var(--color-base-2) 1px solid;
    flex-shrink: 0;
  }

  &.visible {
    display: block;
  }

  &.invisible {
    display: none;
  }
}

.notification-event {
  color: var(--color-base-3);
  text-align: start;

  p {
    margin: 0;
    padding: var(--size-2) 0;
  }

  &.unread{
    p {
      color: var(--color-main-1) !important;
    }

    &:hover{
      background: var(--color-main-0);
    }
  }
}