@use '../../../../shared/global' as *;

#filter-tab {
  border-top: var(--color-base-2) 1px solid;
  margin-left: var(--size-2);
  margin-right: var(--size-2);
  margin-bottom: var(--size-3);

  .filter-header{
    display: flex;
    flex-grow: 1;
    align-items: center;

    i {
      margin-left: auto;
      margin-top: var(--size-2);

      &:hover {
        color: var(--color-main-1);
      }
    }
  }

  .filter-preview {
    color: var(--color-main-1);
    background: var(--color-main-0);
    padding: var(--size-1);
    border-radius: var(--size-1);
    margin: auto;
    text-align: center;
  }

}

#filter {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: max(300px, 30%);
  height: 100%;
  top: 48px;
  left: 0;
  background-color: var(--color-base-0);
  border-right: 1px solid var(--color-base-2);
  overflow: hidden;
  z-index: 1200;

  @include media(xs) {
    left: -1px;
    top: 60px;
    border-top: var(--color-base-2) 1px solid;
  }

  .filter-header {
    color: var(--color-base-3);
    display: inline-flex;
    justify-content: space-between;
    padding-left: var(--size-2);
    padding-right: var(--size-2);
    align-items: center;

    &-options {
      i {
        margin-left: auto;
        margin-right: var(--size-2);

        &:hover {
          color: var(--color-main-1);
        }
      }
    }
  }

  .filter-preview {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    padding: var(--size-1) var(--size-2);
    padding-right: var(--size-3);
    border-radius: var(--size-1);
    background: var(--color-base-0);
    border: 1px solid var(--color-base-1);
    color: var(--color-base-2);
    margin: 0 auto;
    margin-bottom: var(--size-2);

    &.active {
      background: var(--color-main-0);
      border: 1px solid var(--color-main-1);
      color: var(--color-main-1);
    }
  }
  .filter-group-title {
    font-size: 12px;
    color: var(--color-base-3);
    margin: var(--size-1) var(--size-2);
  }

  .filter-group {
    display: grid;
    align-items: center;
    margin: 0 var(--size-3);
    padding-bottom: var(--size-2);
    grid-template-columns: repeat(3, 1fr);
    gap: var(--size-1);
    border-bottom: 1px solid var(--color-base-1);
  }

  .pill {
    font-size: 10px;
    border: 1px solid var(--color-base-1);
    border-radius: var(--size-2);
    padding: var(--size-1);
    background: var(--color-base-0);
    cursor: pointer;

    &:hover {
      background: var(--color-main-0);
      border-color: var(--color-main-1);
      color: var(--color-main-1);
    }

    &.active {
      color: var(--color-base-0);
      background: var(--color-main-1);
      border-color: var(--color-main-1);
    }
  }
}