@use '../../../../shared/global' as *;

#user-favorites {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  padding-left: var(--size-2);
  margin: 0;

  #uf-list-container {
    flex: 1;
    min-height: 0;
    overflow-y: scroll;

    ul {
      list-style-type: "★";
      margin: 0;
      padding: 0 var(--size-2) 0 var(--size-3);

      li {
        display: inline-list-item;
        margin-bottom: var(--size-1);
        padding-left: var(--size-1);

        &:hover {
          color: var(--color-main-1);
          margin-left: var(--size-2);
        }

        @include media(md) {
          &:hover {
            margin-left: var(--size-1);
          }
        }

        .ul-li-content {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .type-icon {
            display: inline-block;
            text-align: center;
            width: var(--size-3);
            aspect-ratio: 1;
            margin-left: auto;
            border-radius: var(--size-1);
            background: var(--color-base-2);
            color: var(--color-base-0);
            font-size: 12px;
            flex-shrink: 0;
          }
        }
      }
    }

    p {
      padding: var(--size-2) 0;
    }
  }
}