@use '../../../shared/global' as *;

#channel-sidebar {
  display: block;
  height: 100%;
  box-sizing: border-box;

  .csb-desktop {
    width: 270px;

    .title-header-icon {
      display: inline-flex;
      align-items: center;

      svg {
        padding: 0 var(--size-2);
      }
    }

    ul {
      //list-style: none;
      //margin: 0;
      list-style: circle outside;

      li {
        margin-left: calc(-1 * var(--size-2));
        padding-bottom: var(--size-1);
      }
    }
  }

  //debug style
  border: 1px solid green;
}