@use '../../../shared/global' as *;

#master-channel-sidebar {
  display: block;
  position: relative;

  .csb-toggle-button {
    position: absolute;
    top: var(--size-1);
    right: var(--size-2);
    border: 1px solid green;
    padding-right: var(--size-2);
    background-color: var(--color-base-0);

    @include media(xs) {
      padding: 0;
    }

    .title-header-icon {
      display: inline-flex;
      align-items: center;

      svg {
        padding: var(--size-2) var(--size-2);
      }
    }

    .csb-toggle-button-title {
      @include media(xs) {
        display: none;
      }
    }
  }
}

#channel-sidebar {
  display: block;
  height: 100%;
  box-sizing: border-box;

  .csb-desktop {
    width: 270px;

    .title-header-icon {
      display: inline-flex;
      align-items: center;

      background-color: var(--color-base-0);

      svg {
        padding: 0 var(--size-2);
      }
    }

    ul {
      list-style: circle outside;

      li {
        margin-left: calc(-1 * var(--size-2));
        padding-bottom: var(--size-1);
      }
    }
  }

  .csb-tablet {
    width: 270px;

    .title-header-icon {
      display: inline-flex;
      align-items: center;

      background-color: var(--color-base-0);

      svg {
        padding: 0 var(--size-2);
      }
    }

    ul {
      list-style: circle outside;

      li {
        margin-left: calc(-1 * var(--size-2));
        padding-bottom: var(--size-1);
      }
    }

    &-close {
      position: absolute;
      right: 0;
      margin: var(--size-2) var(--size-2) auto auto;
      height: var(--size-4);
    }
  }

  //debug style
  border: 1px solid green;
}