@use '../../../shared/global' as *;

#channel-sidebar {
  padding: 0 var(--size-2);

  ul {
    list-style: none;
    padding: 0;
    color: var(--color-base-2);

    li {
      background: var(--color-base-1);
      border-radius: var(--size-1);
      margin-bottom: var(--size-1);
      padding: var(--size-1) var(--size-2);

      &:hover {
        background: var(--color-main-0);
        color: var(--color-main-1);
      }
    }
  }

  .csb-header {
    display: inline-flex;
    align-items: center;
    width: 220px;
    border-bottom: var(--color-base-2) 1px solid;

    &-icon {
      margin-left: auto;
      margin-right: var(--size-2);

      &:hover {
        color: var(--color-main-1);
      }
    }

    &-title {
      display: inline-flex;
      align-items: center;
      color: var(--color-base-3);

      i {
        padding: 0 var(--size-2);
      }
    }
  }

  .csb-desktop {
    position: relative;
    display: block;
    height: 100%;
    box-sizing: border-box;
    width: 220px;
  }

  .csb-tablet {
    position: absolute;
    display: block;
    height: 100%;
    top: 0;
    right: 0;
    box-sizing: border-box;
    width: 220px;
    background-color: var(--color-base-0);
    border-left: var(--color-base-2) 1px solid;
    z-index: 200;
  }

  border-left: var(--color-base-2) 1px solid;
}