@use '../../../../shared/global' as *;

.comment-item{
  display: flex;
  flex-direction: column;
  padding: var(--size-1);

  &:hover {
    border-bottom: 1px solid var(--color-base-1);

    sub {
      background: var(--color-base-3);
    }
  }

  &:hover .ci-header > .ci-reply-btn {
    display: inline-block;
  }

  &.active{
    border-left: 2px solid var(--color-main-1);
    background: $gradient-30-70-h;
  }

  .ci-content {
    white-space: normal;
    word-break: break-word;
    overflow-wrap: anywhere;
    margin: 0;
    max-width: 96%;
  }

  sub {
    background: var(--color-base-2);
    color: var(--color-base-0);
    margin-left: var(--size-1);
    padding: 0 var(--size-1);
    border-radius: var(--size-1);
    width: 95%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ci-header{
    display: inline-flex;
    height: var(--size-4);
    align-items: center;
    flex-grow: 1;
    font-size: 12px;

    .ci-user {
      display: inline-flex;
      padding-left: var(--size-1);
      font-style: italic;
      min-width: 0;

      span {
        margin-left: var(--size-1);
        color: var(--color-base-2);
      }
    }

    .ci-reply-btn {
      margin-left: auto;
      padding: var(--size-1);
      border-bottom: 1px solid var(--color-base-2);
      color: var(--color-base-3);
      display: none;
      cursor: pointer;

      &:hover {
        border-bottom: 1px solid var(--color-main-1);
        color: var(--color-main-1);
      }

      &.active {
        display: inline-block;
        border-bottom: 2px solid var(--color-main-1);
        color: var(--color-main-1);
      }
    }
  }
}