@use '../../../../shared/global' as *;

.comment-item{
  display: flex;
  flex-direction: column;
  padding: var(--size-1);

  &:hover {
    border-bottom: 1px solid var(--color-base-1);
  }

  &:hover .ci-header > .ci-reply-btn {
    display: inline-block;
  }

  &.active{
    border-left: 2px solid var(--color-main-1);
    background: $gradient-30-70-h;
  }

  p {
    margin: 0;
  }

  .ci-header{
    display: inline-flex;
    height: var(--size-4);
    align-items: center;
    flex-grow: 1;
    font-size: 12px;

    .ci-user {
      display: inline-flex;
      padding-left: var(--size-1);
      font-style: italic;

      span {
        margin-left: var(--size-1);
        opacity: 0.6;
      }
    }

    .ci-reply-btn {
      margin-left: auto;
      padding: var(--size-1);
      border-bottom: 1px solid var(--color-base-2);
      color: var(--color-base-3);
      display: none;
      cursor: pointer;

      &:hover {
        border-bottom: 1px solid var(--color-main-1);
        color: var(--color-main-1);
      }

      &.active {
        display: inline-block;
        border-bottom: 2px solid var(--color-main-1);
        color: var(--color-main-1);
      }
    }
  }
}