@use '../../../shared/global' as *;

#utility-button {
  position: sticky;
  float: right;
  width: auto;
  top: var(--size-2);
  right: var(--size-2);
  color: var(--color-base-3);
  z-index: 100;
  background: $gradient-70-30-h;
  padding: var(--size-2);
  border-radius: var(--size-3);
  text-decoration: none;

  &:hover{
    background: var(--color-main-0);
    color: var(--color-main-1);
  }
}