@use '../../../shared/global' as *;

#utility-button {
  position: sticky;
  float: right;
  width: auto;
  top: var(--size-2);
  right: var(--size-2);
  z-index: 1000;
  background-color: var(--color-base-0);
  padding: var(--size-2) var(--size-3);
  border: 1px solid black;
}