@use '../../../shared/global' as *;

.discussion-card {
  border: 1px solid var(--color-base-1);
  border-radius: var(--size-4);
  margin-top: var(--size-2);
  padding: var(--size-2) var(--size-3);

  text-decoration: none;
  color: var(--color-base-4);

  p {
    color: var(--color-base-3);
    margin-top: 0;
  }

  .dc-buttons {
    padding-bottom: var(--size-2);

    button {
      color: var(--color-base-3);
      padding: var(--size-2);
      margin-right: var(--size-2);
      border: var(--color-base-1) 1px solid;
      border-radius: var(--size-3);
      text-decoration: none;
    }
  }

  &:hover{
    h3 {
      color: var(--color-main-1);
    }

    p {
      color: var(--color-main-1);
    }

    button {
      background: var(--color-base-1);

      &:hover {
        background: var(--color-main-0);
        border: var(--color-main-1) 1px solid;
        color: var(--color-main-1);
      }
    }
  }

  .dc-header {
    display: inline-flex;
    align-items: center;

    @include media(xs) {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      padding-bottom: var(--size-2);
    }

    &-title {
      display: inline-flex;
      align-items: center;

      h3 {
        padding-left: var(--size-1);
      }
    }

    .dc-tags {
      display: inline-flex;

      span {
        margin: auto;
        padding-left: var(--size-2);
        color: var(--color-base-3);
        font-size: 12px;

        @include media(xs) {
          padding: 0;
        }
      }

      .tag-label {
        font-size: 10px;
        margin: auto;
        margin-left: var(--size-2);
        padding: var(--size-1);
        background: var(--color-base-1);
        color: var(--color-base-2);
        border-radius: var(--size-1);

        &.preferred {
          background: var(--color-main-0);
          color: var(--color-main-1);
        }

        &:hover {
          background: var(--color-main-0);
          border: var(--color-main-1) 1px solid;
          color: var(--color-main-1);

          i {
            display: inline-block;
          }
        }

        i {
          display: none;
        }
      }
    }

    .favorite-button {
      font-size: 24px;
      padding: 0 var(--size-1);

      &:hover,
      &.active {
        color: var(--color-main-1);
      }
    }
  }

}