@use '../../shared/global' as *;

#sidebar {
  height: 100%;
  box-sizing: border-box;

  .sb-desktop {
    width: 270px;

    &-collapsed {
      width: 70px;
    }
  }

  .sb-mobile {
    position: absolute;
    width: 80%;
    background-color: var(--color-base-0);

    &-header {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &-close {
      margin: var(--size-2) var(--size-2) auto auto;
      height: var(--size-4);
    }
  }

  //debug style
  border: 1px solid red;
}