@use '../../shared/global' as *;

#sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  border-right: var(--color-base-2) 1px solid;
  color: var(--color-base-3);

  .sb-desktop {
    display: flex;
    flex-direction: column;
    width: 270px;

    &-header {
      display: flex;
      flex-grow: 1;
      border-bottom: var(--color-base-2) 1px solid;
      margin: 0 var(--size-1);

      img {
        margin: auto;
      }
    }

    &-collapsed {
      width: 120px;

      &-header {
        display: flex;
        flex-grow: 1;
        border-bottom: var(--color-base-2) 1px solid;
        margin: 0 var(--size-1);

        img {
          margin: auto;
        }
      }
    }
  }

  .sb-mobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: max(300px, 30%);
    height: 100%;
    background-color: var(--color-base-0);
    border-right: var(--color-base-2) 1px solid;
    z-index: 9999;

    &-header {
      display: flex;
      border-bottom: var(--color-base-2) 1px solid;
      margin: var(--size-1);
      padding: var(--size-1);
    }

    &-close {
      border: none;
      background: none;
      margin-left: auto;
      font-size: 20px;
      color: var(--color-base-3);

      &:hover {
        color: var(--color-main-1)
      }
    }
  }
}