@use '../../shared/global' as *;

#sidebar {
  height: 100%;
  box-sizing: border-box;

  .sb-desktop {
    width: 270px;
  }

  .sb-desktop-collapsed {
    width: 70px;
  }

  .sb-mobile {
    position: absolute;
    width: 80%;
  }

  //debug style
  border: 1px solid red;
}
