@use '../../shared/global' as *;

#searchbar {
  box-sizing: border-box;
  width: 100%;

  .search-desktop {
    height: 100%;
    display: flex;

    &-search-input {
      margin-left: var(--size-2);
      flex-grow: 1;
    }
  }

  .search-mobile {
    height: 100%;
    display: flex;

    &-button {
      height: 100%;
      float: right;
      border: none;
      background: none;

      color: var(--color-base-3);

      &:hover {
        color: var(--color-main-1);
      }
    }

    &-search-input {
      flex-grow: 1;
    }

    &-search-close {
      margin: auto;
      color: var(--color-base-3);

      &:hover {
        color: var(--color-main-1);
      }
    }
  }

  .search-desktop-search-input, .search-mobile-search-input {
    background: none;
    border: none;
  }

  .search-desktop-search-input:hover, .search-mobile-search-input:hover{
    border-bottom: var(--color-main-1) 1px solid;
  }

  .search-desktop-search-input:focus-visible, .search-mobile-search-input:focus-visible{
    outline: none;
    border-bottom: var(--color-main-1) 3px solid;
    background: $gradient-70-30-h;
    color: var(--color-main-1);
  }

}