@use "../../shared/global" as *;

.login-page {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: url("./../../logo/IO1920x1080.jpg");

  background-repeat: repeat-x;

  background-size: cover;
  background-position: center;

  overflow: hidden;

  animation: moveBackground 30s linear infinite;

  @keyframes moveBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -1920px 0;
    }
  }
}

.card {
  width: 100%;
  max-width: 380px;
  padding: var(--size-5);
  border-radius: var(--size-2);

  display: flex;
  flex-direction: column;
  text-align: center;

  background: rgba(250, 249, 246, 0.5);
  backdrop-filter: blur(16px);

  img {
    margin: auto;
  }

  h2 {
    text-align: center;
    margin-bottom: var(--size-5);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: var(--size-3);

    &:first-of-type {
      margin-bottom: var(--size-2);
    }

    input {
      color: var(--color-main-1);
      padding: var(--size-2) var(--size-3);
      background: none;
      border: none;
      border-bottom: var(--color-base-3) 1px solid;
      outline: none;

      &::placeholder {
        color: var(--color-base-3);
      }

      &:hover {
        border-bottom: var(--color-main-1) 1px solid;
        &::placeholder {
          color: var(--color-main-1);
        }
      }

      &:focus {
        border-bottom: var(--color-main-1) 2px solid;
        &::placeholder {
          color: var(--color-main-1);
        }
      }
    }

    button {
      padding: var(--size-2);
      border-radius: var(--size-2);
      border: none;
      font-size: 16px;

      background: var(--color-main-1);
      color: var(--color-base-0);
    }

    span {
      color: var(--color-base-3);

      &:hover {
        color: var(--color-main-1);
      }
    }
  }

  .password-rules {
    list-style: none;
    padding: 0;
    margin: auto;
    margin-top: var(--size-2);

    li {
      display: flex;
      align-items: center;
      color: var(--color-base-3);
      font-size: 12px;
      gap: var(--size-1);

      &.valid {
        color: var(--color-success);
      }
    }
  }

  .password-match {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: var(--size-1);

    &.valid {
      color: var(--color-success);
    }

    &.invalid {
      color: var(--color-error);
    }
  }

  .error {
    color: var(--color-error);
    font-size: var(--size-3);
    text-align: center;
  }

}

