@use '../../../shared/global' as *;

.subject {
  display: flex;
  position: relative;
  border: 1px solid var(--color-base-2);
  border-radius: var(--size-4);
  margin-top: var(--size-2);
  padding: var(--size-2) var(--size-3);

  &.active {
    border: 2px solid var(--color-main-1);
    background: $gradient-30-70-h;
  }

  i.recommended {
    position: absolute;
  }

  .subject-content {
    flex: 1;
    overflow: hidden;

    .sc-header {
      margin: auto;
      display: inline-flex;
      align-items: center;

      .sc-tags {
        padding-bottom: 0;
      }

      span {
        display: inline-flex;
        align-items: center;
        text-align: center;
        margin: auto;
        padding-left: var(--size-2);
        color: var(--color-base-3);
        font-size: 12px;

        @include media(xs) {
          padding: 0;
        }
      }

      .tag-label {
        font-size: 10px;
        margin: auto;
        margin-left: var(--size-2);
        padding: var(--size-1);
        background: var(--color-base-1);
        color: var(--color-base-2);
        border-radius: var(--size-1);

        &.preferred {
          background: var(--color-main-0);
          color: var(--color-main-1);
        }

        &:hover {
          background: var(--color-main-0);
          border: var(--color-main-1) 1px solid;
          color: var(--color-main-1);
        }
      }
    }

    .sc-tags {
      display: flex;
      padding-bottom: var(--size-3);
      gap: var(--size-1);

      span {
        margin: auto;
        padding-right: var(--size-1);
        color: var(--color-base-3);
        font-size: 12px;

        @include media(xs) {
          padding: 0;
        }
      }

      &-container {
        display: flex;
        align-items: center;

        overflow-x: auto;
        overflow-y: hidden;

        flex: 1;
        min-width: 0;

        white-space: nowrap;
        scrollbar-width: none;

        .channel-label {
          flex: 0 0 auto;
          white-space: nowrap;

          font-size: 10px;

          margin: auto var(--size-1);
          padding: var(--size-1);
          background: var(--color-base-1);
          color: var(--color-base-2);
          border-radius: var(--size-1);

          &.preferred {
            background: var(--color-main-0);
            color: var(--color-main-1);
          }

          &:hover {
            background: var(--color-main-0);
            border: var(--color-main-1) 1px solid;
            color: var(--color-main-1);

            i {
              display: inline-block;
            }
          }

          i {
            display: none;
          }
        }
      }
    }

    &:hover {

      h3 {
        color: var(--color-main-1);
      }
    }

    p {
      color: var(--color-base-3);
    }
  }

  &-state {
    align-self: center;
    padding-right: var(--size-3);

    i:hover {
      color: var(--color-main-1);
    }

    &-data {
      text-align: center;
      margin: auto;
      padding: var(--size-2) 0;
      font-size: 20px;
    }

    .active {
      color: var(--color-main-1);
    }

    .bold {
      font-weight: bold;
    }
  }
}