@use '../../../shared/global' as *;

.subject {
  display: flex;
  position: relative;
  border: 1px solid var(--color-base-2);
  border-radius: var(--size-2);
  margin-top: var(--size-2);
  padding: var(--size-2);

  &.active {
    border-bottom: 1px solid var(--color-main-1);
    background: $gradient-30-70-v;
  }

  i.recommended {
    position: absolute;
  }

  .sc-header {
    margin: auto;
    display: inline-flex;
    align-items: center;

    span {
      display: inline-flex;
      align-items: center;
      text-align: center;
      margin: auto;
      padding-left: var(--size-2);
      color: var(--color-base-3);
      font-size: 12px;

      @include media(xs) {
        padding: 0;
      }
    }

    .tag-label {
      font-size: 10px;
      margin: auto;
      margin-left: var(--size-2);
      padding: var(--size-1);
      background: var(--color-base-1);
      color: var(--color-base-2);
      border-radius: var(--size-1);

      &.preferred {
        background: var(--color-main-0);
        color: var(--color-main-1);
      }

      &:hover {
        background: var(--color-main-0);
        border: var(--color-main-1) 1px solid;
        color: var(--color-main-1);
      }
    }
  }

  .channel-label {
    max-width: 86px;
    font-size: 12px;
    text-align: center;
    margin: 0;
    margin-bottom: var(--size-3);
    padding: var(--size-1);
    background: var(--color-base-1);
    color: var(--color-base-2);
    border-radius: var(--size-1);

    &:hover {
      background: var(--color-main-0);
      color: var(--color-main-1);
      padding: var(--size-1) var(--size-2);
    }
  }

  &:hover{
    background: $gradient-70-30-v;

    h3 {
      color: var(--color-main-1);
    }
  }

  p {
    color: var(--color-base-3);
  }

  &-state {
    align-self: center;
    margin-left: auto;

    i:hover {
      color: var(--color-main-1);
    }

    &-data {
      text-align: center;
      margin: auto;
      padding: var(--size-2) 0;
      font-size: 20px;
    }

    .active {
      color: var(--color-main-1);
    }

    .bold {
      font-weight: bold;
    }
  }
}