@use '../../shared/global' as *;

#professions-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0 var(--size-2);

  @include media(sm) {
    grid-template-columns: auto auto;
  }

  @include media(xs) {
    grid-template-columns: auto;
  }
}