@use '../../shared/global' as *;

#professions-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0 var(--size-2);

  @include media(sm) {
    grid-template-columns: auto auto;
  }

  @include media(xs) {
    grid-template-columns: auto;
  }
}

#subjects-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0 var(--size-2);

  @include media(sm) {
    grid-template-columns: auto auto;
  }

  @include media(xs) {
    grid-template-columns: auto;
  }
}

#discussions-grid {

  section {
    scroll-margin-top: var(--size-4);
  }

  .discussions-sub-grid {
  }
}

#subject-discussion,
#profession-discussion {
  display: inline-flex;
  width: 100%;
  height: 100%;
  overflow-y: hidden;

  .discussion-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex: 1;
    position: relative;

    h3 {
      margin: var(--size-1) 0;
    }
    p {
      margin:0 0 var(--size-1) 0;
    }

    .discussion-comments-view {
      border: 1px solid violet;
      display: block;
      flex-grow: 1;
      overflow-y: auto;
    }
  }
}