@use '../../shared/global' as *;

#professions-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0 var(--size-2);

  @include media(sm) {
    grid-template-columns: auto auto;
  }

  @include media(xs) {
    grid-template-columns: auto;
  }
}

#subjects-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0 var(--size-2);

  @include media(sm) {
    grid-template-columns: auto auto;
  }

  @include media(xs) {
    grid-template-columns: auto;
  }
}

#discussions-grid {

  section {
    scroll-margin-top: var(--size-4);
  }

  .discussions-sub-grid {
  }
}

#subject-discussion {
  display: inline-flex;
  width: 100%;
  overflow-y: hidden;

  .discussion-view {
    width: 100%;
  }
}