@use '../../shared/global' as *;

#navbar {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding-right: var(--size-3);
  z-index: 500;

  @include media(xs) {
    height: calc(48px + var(--size-5));
    padding-right: 0;
    z-index: 300;
  }

  .nb-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;

    &-buttons {
      display: flex;
      padding: 0 var(--size-3);

      @include media(lg) {
        padding: 0 var(--size-2);
      }

      @include media(md) {
        padding: 0 var(--size-3);
      }

      @include media(sm) {
        padding: 0 var(--size-2);
      }

      .nb-link-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        height: 100%;
        padding: 0 var(--size-4);
        text-decoration: none;
      }
    }

  }

  .nb-mobile {
    display: flex;
    flex-direction: column;

    &-bar {
      display: flex;
    }

    &-buttons {
      display: flex;
      width: 100%;

      .nb-link-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        height: var(--size-6);
        flex-grow: 1;
        padding: 0 var(--size-4);
        text-decoration: none;
      }
    }
  }

  .nb-sidebar-button {
    display: inline-flex;
    width: var(--size-6);
    aspect-ratio: 1;
    align-items: center;
    margin-right: var(--size-2);
    font-size: 20px;
    color: var(--color-base-3);

    background: none;
    border: none;
  }

  .nb-notifications-button {
    height: 100%;
    aspect-ratio: 1;
  }

  border: none;
  border-bottom: var(--color-base-2) 1px solid;

  .nb-link-button {
    color: var(--color-base-3);
    border: none;
    background: none;
  }
  .nb-link-button:hover{
    border-bottom: var(--color-main-1) 1px solid;
  }
  .nb-link-button:active {
    outline: none;
    border-bottom: var(--color-main-1) 3px solid;
    height: calc(100% - 2px);

    @include media(xs) {
      height: 38px;
    }
  }
  .nb-link-button.active {
    outline: none;
    border-bottom: var(--color-main-1) 3px solid;
    color: var(--color-main-1);
    background: var(--color-main-0);
    font-weight: bold;
    height: calc(100% - 2px);

    @include media(xs) {
      height: 38px;
    }
  }

  .nb-notifications-button {
    position: relative;
    border: none;
    background: none;
    font-size: 20px;
    color: var(--color-base-3);

    @include media(xs) {
      height: var(--size-6);
      aspect-ratio: 1;
      margin: auto var(--size-1);
    }

    &.notification-identifier::after {
      content: "●";
      position: absolute;
      line-height: 12px;
      top: 8px;
      right: 8px;
      color: var(--color-main-1);

      @include media(xs) {
        top: 4px;
        right: 4px;
      }
    }
  }
  .nb-notifications-button:hover{
    border-bottom: var(--color-main-1) 1px solid;
  }
  .nb-notifications-button:active {
    outline: none;
    border-bottom: var(--color-main-1) 3px solid;
  }
  .nb-notifications-button.active {
    outline: none;
    border-bottom: var(--color-main-1) 3px solid;
    font-weight: bold;
    color: var(--color-main-1);
    background: var(--color-main-0);
  }
}
