@use '../../shared/global' as *;

#navbar {
  box-sizing: border-box;
  width: 100%;
  height: 48px;

  @include media(xs) {
    height: 96px;
  }

  .nb-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;

    &-buttons {
      display: flex;
      padding: 0 var(--size-3);

      @include media(lg) {
        padding: 0 var(--size-2);
      }

      @include media(md) {
        padding: 0 var(--size-3);
      }

      @include media(sm) {
        padding: 0 var(--size-2);
      }

      .nb-link-button {
        height: 100%;
        padding: 0 var(--size-4);
      }
    }

  }

  .nb-mobile {
    display: flex;
    flex-direction: column;

    &-bar {
      display: flex;
    }

    &-logo {
      padding: var(--size-1);
    }

    &-buttons {
      display: flex;
      height: var(--size-6);
      width: 100%;

      .nb-link-button {
        height: 100%;
        flex-grow: 1;
      }
    }
  }

  //debug style
  border: 1px solid purple;
}
