@use '../../shared/global' as *;

#layout-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
  box-sizing: border-box;

  .main {
    flex: 1;
    overflow: hidden;
  }

  //debug style
  border: 1px solid darkorange;
}

#content {
  flex: 1;
  padding: 0 0 0 var(--size-2);
  height: 94%;
  overflow-y: auto;
  margin: 0;

  * > *:not(*:nth-child(2)) {
    padding-right: var(--size-2);
  }
}