@use '../../shared/global' as *;

#layout-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
  box-sizing: border-box;

  .main {
    flex: 1;
    overflow: hidden;
  }
}

#content {
  flex: 1;
  padding: 0 0 0 var(--size-2);
  height: 94%;
  overflow-y: auto;
  margin: 0;

  scrollbar-width: thin;
  scrollbar-color: var(--color-base-1) var(--color-base-0);

  @include media(xs) {
    scrollbar-width: none;
    padding-right: var(--size-2);
  }
}